{% extends "temp.html" %}

{% block content %}
    <div class="container">
        <div style="text-align: left;margin: 30px">  <h1>Recordings List</h1></div>
        <div style="text-align: left;margin: 30px">  <input type="button" onclick="downloadAll()" value="Download All"></div>
    <hr>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="text-center">Recording Name</th>
                {#<th class="text-center">Download URL</th>#}
                <th class="text-center">RecordingDownloadLink</th>
            </tr>
            </thead>
            <tbody>
            {% for recording in recordings %}
                <tr>
                    <td><span><a href="{{ recording.playbackUrl }}">{{ recording.topic }}</a></span></td>
                    {#<td><span><a href="{{ recording.downloadUrl }}">{{ recording.downloadUrl }}</a></span></td>#}
                    {% if recording.temporaryDirectDownloadLinks != null %}
                    <td name="directDownload_td" id="{{ recording.id }}"><span><a id="directDownload_{{ recording.id }}" target="_blank" href="{{ recording.temporaryDirectDownloadLinks.recordingDownloadLink }}">{{ recording.temporaryDirectDownloadLinks.recordingDownloadLink }}</a></span></td>
                    {% else%}
                        <td>---------------</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


<style>

</style>
